<!doctype html>
<title>whois</title>
<h1>super whois NA =)</h1>
<p>Проверка информации о домене или ip-адресе.</p>
  <form action="" method=get>
    <dl>
      <dt>Введите домен или IP-адрес:
      <dd><input type=text name=domain>
      <dd><input type=submit value=whois>
    </dl>
  </form>
  {% if input_domain %}
     По Вашему запросу найдено следующее: <br><br>
     <strong>{{ input_domain }}</strong><br><br>
     {% for i in info_whois %} 
        <br> {{ i }} 
     {% endfor %} 
  {% endif %}
  {% if novalid %}
	{{ novalid }}
  {% endif %}
